<link rel="import" href="../../../components/paper-dialog/paper-dialog.html">

<dom-module id="view-form-dialog">
    <paper-dialog>
        <h2>Header</h2>
        <paper-dialog-scrollable>
            Lorem ipsum...
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm autofocus>Accept</paper-button>
        </div>
    </paper-dialog>
</dom-module>

<script>
    Polymer({
        is: 'view-form-dialog',


        show: function (parent, options) {
            var self = this;


            var multi_select = !vectors.utils.isNumber(options.res_id) && !options.disable_multiple_selection;
            var readonly = vectors.utils.isNumber(options.res_id) && options.readonly;

            if (!options || !options.buttons) {
                options = options || {};
                options.buttons = [
                    {// 设置按钮标签
                        text: (readonly ? _t("Close") : _t("Discard")), classes: "btn-default o_form_button_cancel", close: true, click: function () {
                            self.view_form.trigger('on_button_cancel');
                        }
                    }
                ];

                if (!readonly) {
                    options.buttons.splice(0, 0, {
                        text: _t("Save") + ((multi_select) ? " " + _t(" & Close") : ""), classes: "btn-primary", click: function () {
                            self.view_form.onchanges_mutex.def.then(function () {
                                if (!self.view_form.warning_displayed) {
                                    $.when(self.view_form.save()).done(function () {
                                        self.view_form.reload_mutex.exec(function () {
                                            self.trigger('record_saved');
                                            self.close();
                                        });
                                    });
                                }
                            });
                        }
                    });

                    if (multi_select) {
                        options.buttons.splice(1, 0, {
                            text: _t("Save & New"), classes: "btn-primary", click: function () {
                                $.when(self.view_form.save()).done(function () {
                                    self.view_form.reload_mutex.exec(function () {
                                        self.view_form.on_button_new();
                                    });
                                });
                            }
                        });
                    }
                }
            }

        },


        open: function () {
            var self = this;
           // var _super = this._super.bind(this);
            this.init_dataset();

            if (this.res_id) {
                this.dataset.ids = [this.res_id];
                this.dataset.index = 0;
            } else {
                this.dataset.index = null;
            }
            var options = _.clone(this.options.form_view_options) || {};
            if (this.res_id !== null) {
                options.initial_mode = this.options.readonly ? "view" : "edit";
            }
            
            _.extend(options, {
                $buttons: this.$buttons,
            });
            var FormView = core.view_registry.get('form');
            var fields_view_def;
            if (this.options.alternative_form_view) {
                fields_view_def = $.when(this.options.alternative_form_view);
            } else {
                fields_view_def = data_manager.load_fields_view(this.dataset, this.options.view_id, 'form', false);
            }
            fields_view_def.then(function (fields_view) {
                self.view_form = new FormView(self, self.dataset, fields_view, options);
                var fragment = document.createDocumentFragment();
                self.view_form.appendTo(fragment).then(function () {
                    self.view_form.do_show().then(function () {
                        _super().$el.append(fragment);
                        self.view_form.autofocus();
                    });
                });
            });

            return this;
        },

    });

</script>