<link rel="import" href="../../../components/paper-dialog/paper-dialog.html">

<link rel="import" href="./behaviors-dialog.html">

<dom-module id="view-list-dialog">
    <!-- Views Data Source -->
    <data-source id="dataSource" action="/dataset/call_kw/[[action.res_model]]/load_views" params='' data="{{views}}"> </data-source>

    <paper-dialog id="dialog">
        <!--标题!-->
        <div class="modal_header">
            <h2>[[title]]</h2>
        </div>

        <!--标题!-->
        <paper-dialog-scrollable>
            <iron-pages id="pages" class="modal_body" selected="0">
                <slot></slot>
            </iron-pages>
        </paper-dialog-scrollable>

        <!--标题!-->
        <div class="modal_foot">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm autofocus>Accept</paper-button>
        </div>
    </paper-dialog>
</dom-module>

<script>
    /**
 * Search dialog (displays a list of records and permits to create a new one by switching to a form view)
*/
    Polymer({
        is: 'view-list-dialog',
        properties: {
            sender: {
                type: Object,
            },

            title: String,
            //-----------------------------------
            res_model: {
                type: String,
            },

            res_id: {
                type: Number,
            },

            domain: {
                type: String,
            },

            context: {
                type: Object,
            },

            mode: {
                type: String,
            },
            //--------------------------------------
            // ajax
            data: {
                type: Object,
                notify: true
            },
            params: {
                type: Object,
                notify: true
            },

            //----------------
            fields: { // # 该Action可用的所有字段
                type: Object,
            },

            views: {
                type: Object, // 窗口获得的该MOdel 所有类型视图 Load_views
            },

            initial_ids: {// 初始显示IDs
                type: Array,
            },

            searchview: {
                type: Object,
            },

            // 当前选中的视图并重新更新
            selectedView: {
                type: Object,
                //  readOnly: true,
                notify: true,
                observer: 'search_show'
            },
        },

        behaviors: [
            DialogBehaviors,
        ],

        factoryImpl: function (sender, options) {
            var self = this;
            this.sender = sender;
            self.initial_ids = options.initial_ids;

            // 执行API
            ds = this.$.dataSource;
            // #'{"views":JSON.stringify([[act_win.views]]),"model":"[[act_win.res_model]]"}
            data = {};
            data.views = this.action.views;
            // # 添加SearchView
            if (this.action.search_view_id) {
                data.views.push([this.action.search_view_id, "search"]);
            }
            data.model = this.res_model;
            data.load_fields = true;
            data.load_filters = true;
            data.toolbar = true;
            ds.params = JSON.stringify(data);
            ds.read();
        },

        show: function (parent, options) {
            this.$.dialog.open();
        },

        /**
           * options:
           * - initial_ids
           * - initial_view: form or search (default search)
           * - disable_multiple_selection
           * - list_view_options
           */
        init: function (parent, options) {
            this._super(parent, options);

            _.defaults(this.options, { initial_view: "search" });
            this.initial_ids = this.options.initial_ids;
        },

        open: function () {
            // if (this.options.initial_view !== "search") {
            ///     return this.create_edit_record();
            // }

            // var _super = this._super.bind(this);
            this.init_dataset();
            var context = pyeval.sync_eval_domains_and_contexts({
                domains: [],
                contexts: [this.context]
            }).context;
            var search_defaults = {};
            _.each(context, function (value_, key) {
                var match = /^search_default_(.*)$/.exec(key);
                if (match) {
                    search_defaults[match[1]] = value_;
                }
            });
            data_manager
                .load_views(this.dataset, [[false, 'list'], [false, 'search']], {})
                .then(this.setup.bind(this, search_defaults))
                .then(function (fragment) {
                    _super().$el.append(fragment);
                });
            return this;
        },


        setup: function (search_defaults, fields_views) {
            var self = this;
            if (this.searchview) {
                this.searchview.destroy();
            }
            /*
            var fragment = document.createDocumentFragment();
            var $header = $('<div/>').addClass('o_modal_header').appendTo(fragment);
            var $pager = $('<div/>').addClass('o_pager').appendTo($header);
            var options = {
                $buttons: $('<div/>').addClass('o_search_options').appendTo($header),
                search_defaults: search_defaults,
            };
            */

            this.searchview = new SearchView(this, this.dataset, fields_views.search, options);
            this.searchview.on('search_data', this, function (domains, contexts, groupbys) {
                if (this.initial_ids) {
                    this.do_search(domains.concat([[["id", "in", this.initial_ids]], this.domain]),
                        contexts.concat(this.context), groupbys);
                    this.initial_ids = undefined;
                } else {
                    this.do_search(domains.concat([this.domain]), contexts.concat(this.context), groupbys);
                }
            });
            return this.searchview.prependTo($header).then(function () {
                self.searchview.toggle_visibility(true);

                self.view_list = new SelectCreateListView(self,
                    self.dataset, fields_views.list,
                    _.extend({
                        'deletable': false,
                        'selectable': !self.options.disable_multiple_selection,
                        'import_enabled': false,
                        '$buttons': self.$buttons,
                        'disable_editable_mode': true,
                        'pager': true,
                    }, self.options.list_view_options || {}));
                self.view_list.on('edit:before', self, function (e) {
                    e.cancel = true;
                });
                self.view_list.popup = self;
                self.view_list.on('list_view_loaded', self, function () {
                    this.on_view_list_loaded();
                });

                var buttons = [
                    { text: _t("Cancel"), classes: "btn-default o_form_button_cancel", close: true }
                ];
                if (!self.options.no_create) {
                    buttons.splice(0, 0, {
                        text: _t("Create"), classes: "btn-primary", click: function () {
                            self.create_edit_record();
                        }
                    });
                }
                if (!self.options.disable_multiple_selection) {
                    buttons.splice(0, 0, {
                        text: _t("Select"), classes: "btn-primary o_selectcreatepopup_search_select", disabled: true, close: true, click: function () {
                            self.on_selected(self.selected_ids);
                        }
                    });
                }
                self.set_buttons(buttons);

                return self.view_list.appendTo(fragment).then(function () {
                    self.view_list.do_show();
                    self.view_list.renderPager($pager);
                    if (self.options.initial_facet) {
                        self.searchview.query.reset([self.options.initial_facet], {
                            preventSearch: true,
                        });
                    }
                    self.searchview.do_search();

                    return fragment;
                });
            });
        },
        do_search: function (domains, contexts, groupbys) {
            var results = pyeval.sync_eval_domains_and_contexts({
                domains: domains || [],
                contexts: contexts || [],
                group_by_seq: groupbys || []
            });
            this.view_list.do_search(results.domain, results.context, results.group_by);
        },
        on_click_element: function (ids) {
            this.selected_ids = ids || [];
            this.$footer.find(".o_selectcreatepopup_search_select").prop('disabled', this.selected_ids.length <= 0);
        },
        create_edit_record: function () {
            this.close();
            return new FormViewDialog(this.__parentedParent, this.options).open();
        },
        on_view_list_loaded: function () { },

    });

</script>